html, body {
    height: auto; 
    margin: 0; 
}
body {
    background-color: rgba(5, 76, 12, 0.854);
}
.parent {
    height: 500px;
    position: relative;
}
div {
    margin-top: 2%;
    margin-left: 60%;
}
a {
    margin-right: 40px;
    font-size: 100%;
    font: bold 16px/30px Georgia, serif;
    text-decoration-line: none;
    color: rgb(217, 211, 159);
}

.h1 {
    height: 40%;
    width: 40%;
    background-color: transparent;
    font-size: 60px;
    color: aliceblue;
    margin-top: 10%;
    margin-left: 20%;
    position: relative;
   
}

.about
{
    height: 45vh;
    width: 50%;
    background-color: white;
    margin-left: 10%;
    display: flex;
    box-shadow: 10px;
}

.about p
{
    letter-spacing: 3px;
    font-size: 20px;
    text-indent:70px;
    text-align: justify;
}

.skill
{
    height: 50%;
    width:50%;
    background-color: aliceblue;
    margin-left: 25%;
    margin-top: 20%;
}
button
{
    height: 35px;
    width:20%;
    border-radius: 10%;
    justify-content: space-between;
    margin-left: 5px;
    font-size: 15px;
    font-style: solid;
    text-shadow: 10px white;
    color: rgba(5, 76, 12, 0.854);
    background-color: rgb(178, 230, 179);

}
button:hover
{
    color:  white;
    background-color: rgba(5, 76, 12, 0.854);

}

.front
{
    margin-left: 14%;
    justify-content: space-between;

}
.back
{
    margin-left: 14%;
    justify-content: space-between;
}

.pdiv
{
    
    margin-left: 1px;
    display: flex;
    text-align: center;
    margin-top: 5%;
    
}
p
{
    text-align: center;
}

.pbutton
{
    justify-content: center;
    align-items: center;
    margin-left: 40%;
    margin-top: 10%;
}

.project
{
    width:250px;
    height: 150px;
    margin-left: 10%;
    font-size: 120%;
    animation-name: box1;
    animation-duration: 4s;
    color: rgba(5, 76, 12, 0.854);
    background-color: rgb(178, 230, 179);
    box-shadow: 5px 5px;
}
@keyframes box1 {
    0% { 
        height: 0px;
        width: 0px;
        margin-left: 0px;
        top: 0px;
    }
    100% {
        height: 150px;
        width: 250px;
        margin-left: 10%;
        box-shadow: 5px 5px;
        top: 0px;
    }
}
.project1
{
    width:250px;
    height: 150px;
    margin-left: 15%;
    font-size: 120%;
    animation-name: box2;
    animation-duration: 4s;
    color: rgba(5, 76, 12, 0.854);
    background-color: rgb(178, 230, 179);
    box-shadow: 5px 5px;
}
@keyframes box2 {
    0% { 
        height: 0px;
        width: 0px;
        margin-left: 0%;
        top: 0px;
    }
    100% {
        height: 150px;
        width: 250px;
        margin-left: 15%;
        top: 0px;
        box-shadow: 5px 5px;
    }
}
.project2
{
    width:250px;
    height: 150px;
    margin-left: 20%;
    font-size: 120%;
    animation-name: box3;
    animation-duration: 4s;
    color: rgba(5, 76, 12, 0.854);
    background-color: rgb(178, 230, 179);
    box-shadow: 5px 5px;
}
@keyframes box3 {
    0% { 
        height: 0px;
        width: 0px;
        left: 0%;
        top: 0px;
    }
    100% {
        height: 150px;
        width: 250px;
        left: 20%;
        top: 0px;
        box-shadow: 5px 5px;
    }
}
.contact
{
    height:auto;
    width:50%;
    background-color: aliceblue;
    position: absolute;
    margin-left: 25%;
    margin-top:20% ;
     
}

input
{
    width:50%;
    height: 20%;
    margin-left: 24%;
    color: black;
    border: none;
    font-size: 90%;
    background-color: transparent;
    border-bottom: 2px solid black;

}
#b
{
    width:30%;
    height: 30%;
    margin-left: 34%;
    font-size: 120%;
    color: rgba(5, 76, 12, 0.854);
    background-color: rgb(178, 230, 179);

}
#b:hover
{
    color:  white;
    background-color: rgba(5, 76, 12, 0.854);

}

label
{
    margin-left: 24%;
    color: black;
    font-size: 120%;
}
h1
{
    margin-left: 42%;
}